body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#main-container {
    display: grid;
    grid-template-areas: 
    "first-block"
    "blocos-coloridos-1"
    "blocos-coloridos-2"
    "blocos-pretos"
    "blocos-brancos";
    grid-template-rows: 60px 20vh 20vh 50vh 20vh;
    grid-gap:.8rem;
}

/*div {
    border: 1px solid black;
}*/

#first-block {
    grid-area: first-block;
    background-color: red;
}

.blocos-coloridos-1 {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-area: blocos-coloridos-1;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: .3rem 0;
}

.blocos-coloridos-2 {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-area: blocos-coloridos-2;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: .5rem 0;

}

.blue-block {
    background-color: blue;
    height: 125px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px inset black;
}

.yellow-block {
    background-color: yellow;
    height: 125px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px inset black;
}

.green-block {
    background-color: green;
    height: 125px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px inset black;
}

.blocos-pretos {
    grid-area: blocos-pretos;
    display: grid;
    grid-template-columns: 44% 44%;
    justify-content: space-evenly;
    padding: .6rem 0;

}
   

.black-block {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px inset black;
}

.blocos-brancos {
    grid-area:blocos-brancos;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-around;
    align-items: center;
    
}

.white-block {
    background-color: white;
    height: 125px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px inset black;
    margin-top: -10px;
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    #main-container {
        display: grid;

    }
    div {

    }
}

@media screen and (min-device-width : 451px) and (max-device-width : 800px){
    .blocos-brancos{
}





@media screen and (min-device-width : 1200px) {
    }