body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
div div{

}

div {
    border: 1px solid black;
}

#first-block {
    background-color: red;
    padding: 30px;
    margin-bottom: 10px;
}

.blocos-coloridos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blue-block {
    background-color: blue;
    flex-grow: 1;
    margin: 10px;
    width: 100px;
}

.yellow-block {
    background-color: yellow;
    flex-grow: 1;
    margin: 10px;
    width: 100px;
}

.green-block {
    background-color: green;
    flex-grow: 1;
    margin: 10px;
    width: 100px;
}

.blocos-pretos {

}

.black-block {
    background-color: black;
    color: white;
}

.blocos-brancos {
}

.white-block {
    background-color: white;
}